body {
    background-color: grey;
    display: flex;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 600px;
}

.container {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 20px;
    padding: 10px 30px;
    width: 300px;
    margin-top: 30px;
}